<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
      <nb-card size="giant" accent="info">
        <nb-card-header>
            {{ workspaceName | titlecase }}
            <span class="header-toggler" (click)="toggleNav()">TreeTable
              <nb-icon status="primary" icon="swap-outline"></nb-icon>
            </span>
        </nb-card-header>
          <nb-card-body>
            <curedit-network-view></curedit-network-view>
          </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card size="giant" accent="info">
        <nb-card-header>
          {{ workspaceName | titlecase }}
          <span class="header-toggler" (click)="toggleNav()">Graph
            <nb-icon status="primary" icon="swap-outline"></nb-icon>
          </span>
        </nb-card-header>
        <nb-card-body>
          <curedit-tree-view></curedit-tree-view>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
