<nb-reveal-card [showToggleButton]="false" [revealed]="flipped">
    <nb-card-front>
      <nb-card size="giant" accent="info">
        <nb-card-header (click)="networkView.onResize()">
            {{ workspaceName | titlecase }}
            <span class="header-toggler" (click)="toggleNav()">
              <nb-icon status="primary" icon="settings-2-outline"></nb-icon>
            </span>
        </nb-card-header>
          <nb-card-body>
            <curedit-network-view #networkView></curedit-network-view>
          </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card size="giant" accent="info">
        <nb-card-header>
          {{ workspaceName | titlecase }}
          <span class="header-toggler" (click)="toggleNav()">
            <nb-icon status="primary" icon="edit-2-outline"></nb-icon>
          </span>
        </nb-card-header>
        <nb-card-body>
          <curedit-tree-view></curedit-tree-view>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-reveal-card>
